.contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}

.contact-info .pedicure-icon {
    width: 60px;
}

.contact-row p {
    margin: 10px 70px;
    font-size: 18px;
}

.contact-info p strong {
    margin-right: 8px;
}

.contact-info svg {
    margin-right: 8px;
    color: #d11cb3;
}

/* Media Query for screens 480px and smaller */
@media screen and (max-width: 480px) {
    .contact-info {
        flex-direction: column;
        padding: 15px;
    }

    .contact-info .pedicure-icon {
        width: 50px;
        margin-bottom: 10px;
    }

    .contact-row p {
        margin: 10px 20px;
        font-size: 16px;
    }

    .contact-info p strong {
        display: block;
        margin: 0 auto 5px auto;
    }

    .contact-info svg {
        margin-right: 0px;
        margin-bottom: 5px;
    }

    .contact-info .pedicure-icon {
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0px;
    }
}