.category-list {
    padding: 20px;
    max-width: 100%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #282828;
    /* Background color to improve contrast */
}

.category-list h1 {
    font-size: 2rem;
    margin: 50px 0 20px;
    text-align: center;
    color: #d11cb3;
}

.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #6e6a6a;
    transition: transform 0.3s ease;
}

.category-item.selected-category {
    background-color: rgba(209, 28, 179, 0.1);
    border-radius: 10px;
    transform: scale(1.03);
    /* Slight scale effect for selected category */
}

.category-item p {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #fff;
}

.image-gallery {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

.image-gallery img {
    width: 100px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.2s ease;
}

.image-gallery img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.select-button {
    padding: 8px 12px;
    background-color: #d11cb3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.select-button.selected {
    background-color: red;
}

.select-button:hover {
    background-color: #f351d8;
}

/* Styling for price info */
.price-info {
    margin-top: 20px;
    padding: 10px;
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
    background-color: #d11cb3;
    border-radius: 5px;
}

/* Media Query for screens 480px and smaller */
@media screen and (max-width: 480px) {
    .category-list {
        padding: 10px;
    }

    .category-list h1 {
        font-size: 1.5rem;
        margin-top: 30px;
    }

    .category-item {
        padding: 15px 0;
        text-align: center;
    }

    .category-item p {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .image-gallery img {
        width: 60px;
        height: 60px;
    }

    .select-button {
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    .price-info {
        font-size: 1.2rem;
        padding: 8px;
    }
}